.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 19vw;
  max-width: 260px;
  height: 24vw;
  max-height: 294px;
  background-color: $color-chambray;
  padding: 56px 27px 0 56px;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: -1;
  }

  &:hover::before {
    background: $color-sapphire-opacity-89;
    z-index: 2;
  }

  @include vp-1199 {
    min-width: 268px;
    height: 39vw;
  }

  @include vp-767 {
    min-width: 226px;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 86vw;
    margin: 0;
    // padding: 46px 5px 0 34px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card h3 {
  @include font-settings($ff-roboto, 700, 18px, 1.1, $color-default-white);
  margin: 0;
  order: 1;
  z-index: 2;
  padding: 14px 28px 0 0;
  text-align: center;

  @include vp-767 {
    margin-top: auto;
    padding-bottom: 20px;
  }
}

.card__content {
  overflow: auto;
}

.card p {
  @include font-settings($ff-roboto, 400, 16px, 1.5, $color-default-white);
  margin: 0 0 32px 0;
  padding-left: 49px;

  @include vp-767 {
    padding-left: 0;
    text-align: center;
  }
}

.card__list {
  margin: 0;
  padding-left: 15px;
  text-align: start;
  list-style: disc;

  @include vp-767 {
    padding-left: 50px;
  }
}

.card__item {
  @include font-settings($ff-roboto, 400, 14px, 1.5, $color-default-white);
  margin-bottom: 13px;
}

.card__img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;

  &--pash {
    transform: scale(1.26);
  }
}

.card:hover h3 {
  order: -1;
  padding-top: 0;
  padding-right: 28px;

  @include vp-1199 {
    padding-right: 39px;
  }

  @include vp-767 {
    padding: 0;
    margin-top: 15px;
  }
}

.card:hover .card__content {
  z-index: 10;
}
