.form__container {
  padding: 56px 50px 68px 101px;
  position: relative;

  @include vp-1199 {
    padding: 62px 43px 68px 132px;
  }

  @include vp-767 {
    padding: 65px 14px 68px;
  }
}

.form h2 {
  @include font-settings($ff-alumni, 800, 54px, 1.56, $color-default-white);
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 12px;
  padding-left: 2px;

  @include vp-1199 {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.19;
  }

  @include vp-767 {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.18;
  }
}

.form form {
  padding-right: 118px;

  @include vp-767 {
    padding-right: 0;
  }
}

.form fieldset {
  border: none;
  display: flex;
  padding: 0;
  margin-bottom: 27px;

  @include vp-1199 {
    margin-bottom: 28px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 37px;
  }
}

.form__container input {
  @include font-settings($ff-roboto, 400, 14px, 1.14, $color-default-white);
  width: 100%;
  padding: 10px 0 6px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;

  @include vp-1199 {
    padding: 12px 0 6px;
  }
}

.form__container input[name="name"] {
  margin-right: 28px;

  @include vp-1199 {
    margin-right: 59px;
  }

  @include vp-767 {
    margin: 0 0 25px;
  }
}

.form__btn {
  font-size: 14px;
  line-height: 1.14;
  min-width: 100%;
  min-height: 56px;

  @include vp-1199 {
    padding: 17px 15px;
    border-width: 3px;
  }

  @include vp-767 {
    margin-top: 12px;
  }
}
