.info .container {
  position: relative;
  display: flex;
  padding-top: 120px;
  padding-bottom: 235px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    padding-top: 101px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    padding: 63px 0 70px;
  }
}

.info__content {
  padding-left: 60px;
  padding-right: 71px;

  @include vp-1199 {
    padding-right: 40px;
    text-align: center;
  }

  @include vp-767 {
    text-align: start;
    padding: 0 15px;
  }
}

.info__content h2 {
  @include font-settings ($ff-alumni, 600, 48px, 1.2, $color-sapphire);
  margin: 0;
  margin-bottom: 10px;
  padding-top: 38px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 1.19;
    margin: 0;
    padding-top: 0;
    padding-right: 36px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 1.19;
    margin-bottom: 6px;
  }
}

.info__content h3 {
  @include font-settings ($ff-roboto, 400, 18px, 1.5, $color-sapphire);
  margin: 0;
  margin-bottom: 37px;

  @include vp-1199 {
    padding-right: 19px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    font-size: 18px;
    padding: 0;
    margin-bottom: 23px;
  }
}

.info__content p {
  @include font-settings ($ff-roboto, 300, 16px, 1.5, $color-sapphire);
  margin: 0;
  margin-bottom: 8px;

  @include vp-1199 {
    margin-bottom: 43px;
    padding-right: 20px;

    &:last-child {
      display: none;
    }
  }

  @include vp-767 {
    margin-bottom: 33px;
  }
}

.info__media {
  position: relative;

  @include vp-767 {
    width: 100%;
  }
}

.info__img-wrapper {
  min-width: 660px;
  max-height: 401px;
  overflow: hidden;

  @include vp-1199 {
    min-width: 678px;
    max-height: 345px;
  }

  @include vp-767 {
    min-width: 100%;
    width: 100%;
    max-height: 313px;
    margin-bottom: 40px;
  }
}

.info__img {
  object-position: 0 -16px;
  transform: scale(1, 1.1);

  @include vp-1199 {
    width: 100%;
    object-position: -40px -18px;
    transform: scale(1.13, 1);
  }

  @include vp-767 {
    width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: 100% 0;
    transform: scale(1, 1);
  }
}

.info__video-wrapper {
  position: absolute;
  top: 289px;
  left: -9.5%;
  min-width: 364px;
  min-height: 228px;
  overflow: hidden;

  @include vp-1199 {
    top: 75.8%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 266px;
    min-height: 167px;
  }

  @include vp-767 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transform: none;
  }
}
