.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  @include vp-1199 {
    margin: 0 7px 0 0;
  }
}

.socials__item {
  width: 25;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;
}

.socials__item:not(:last-child) {
  margin-right: 11px;
}
