.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.tabs__list {
  position: relative;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  min-width: 387px;
  margin: 0 0 46px;
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 25px;
    width: calc(100% - 51px);
    height: 2px;
    background-color: $color-grey-opacity-20;
  }

  @include vp-1199 {
    min-width: 332px;
    margin-bottom: 52px;

    &::after {
      width: 100%;
      left: 0;
    }
  }

  @include vp-767 {
    min-width: 290px;
    margin-bottom: 42px;
  }
}

.tabs__item {
  @include font-settings ($ff-roboto, 400, 20px, 1.5, $color-sapphire-opacity-50);
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  padding: 5px 24px;

  @include vp-1199 {
    font-size: 18px;
    padding: 5px 0;

    &:not(:first-child) {
      padding-left: 23px;
    }

    &:not(:last-child) {
      padding-right: 32px;
    }
  }

  @include vp-767 {
    font-size: 16px;
    padding: 5px 0;

    &:not(:first-child) {
      padding-left: 23px;
    }

    &:not(:last-child) {
      padding-right: 23px;
    }
  }
}

.tabs__item.is-active {
  color: $color-sapphire;

  &::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 25px;
    width: calc(100% - 48px);
    height: 2px;
    background-color: $color-crimson;

    @include vp-1199 {
      left: 0;
      width: calc(100% - 31px);
    }

    @include vp-767 {
      left: 0;
      width: calc(100% + 7px);
    }
  }
}

.tabs__item--6.is-active {
  @include vp-1199 {
    &::after {
      left: 23px;
      width: calc(100% - 45px);
    }
  }

  @include vp-767 {
    &::after {
      left: 0;
      width: calc(100%);
    }
  }
}

.tabs__item--12.is-active {
  @include vp-1199 {
    &::after {
      left: 25px;
      width: calc(100% - 25px);
    }
  }

  @include vp-767 {
    &::after {
      left: 0;
      width: calc(100%);
    }
  }
}

.tabs__contents {
  width: 100%;
  height: 100%;
}

.tabs__content {
  display: none;
}

.tabs__content.is-active {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    flex-direction: column;
  }
}

.tabs__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 31%;
  min-height: 448px;
  padding-top: 56px;
  margin-bottom: 20px;
  background-color: $color-default-white;
  z-index: 1;
  border: 7px solid $color-default-white;

  &:hover,
  &:focus-visible {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 7px;
    border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  }

  &:not(:nth-child(3n)) {
    margin-right: 3.5%;

    @include vp-1199 {
      margin-right: 0;
    }
  }

  @include vp-1199 {
    min-width: 442px;
    align-self: center;
    margin-bottom: 40px;
    margin-right: 0;
  }

  @include vp-767 {
    min-width: 100%;
    min-height: 384px;
    padding-top: 44px;
    margin-bottom: 35px;
  }
}

.tabs__content-item h3 {
  @include font-settings ($ff-roboto, 700, 26px, 1.12, $color-sapphire);
  margin: 0 0 10px;

  @include vp-767 {
    font-size: 22px;
    line-height: 1.1;
  }
}

.tabs__content-item p {
  @include font-settings ($ff-roboto, 400, 16px, 1.5, $color-chambray);
  margin: 0 0 65px;

  @include vp-767 {
    margin-bottom: 53px;
  }
}

.tabs__content-item span {
  @include font-settings ($ff-roboto, 700, 60px, 1.5, $color-egyptian-blue);
  position: relative;
  padding-right: 45px;
  margin: 0 0 34px;

  &::before {
    @include font-settings ($ff-roboto, 700, 100px, 1.5, $color-whisper-opacity-48);
    position: absolute;
    content: attr(data-price);
    top: -54px;
    right: -16px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: url("../img/svg/rouble.svg");
    top: 0;
    right: 0;
  }

  @include vp-767 {
    font-size: 48px;
    padding-right: 32px;
    margin-bottom: 30px;

    &::before {
      font-size: 80px;
      top: -44px;
    }

    &::after {
      transform: scale(0.79);
      top: 4px;
      right: -6px;
    }
  }
}

.tabs__btn {
  @include font-settings ($ff-roboto, 700, 12px, 1.16, $color-sapphire);
  min-width: 208px;
  min-height: 66px;
  padding-top: 3px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-767 {
    width: calc(100% - 112px);
  }
}

.tabs__content-item:hover > .tabs__btn,
.tabs__btn:focus-visible {
  color: $color-default-white;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  border: none;
  outline: none;
}
