.trainers .container {
  position: relative;
  overflow: hidden;
  padding: 67px 103px 92px;

  @include vp-1199 {
    padding: 60px 80px 101px;
    max-width: 725px;
    margin: 0 auto;
  }

  @include vp-767 {
    padding: 23px 47px 70px;
  }
}

.trainers h2 {
  @include font-settings ($ff-alumni, 600, 54px, 1.2, $color-sapphire);
  letter-spacing: 0.03em;
  padding-left: 2px;
  margin: 0 0 47px 0;

  @include vp-1199 {
    font-size: 42px;
    line-height: 1.19;
    text-align: center;
    padding-right: 8px;
    margin-bottom: 31px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 1.18;
    margin-bottom: 42px;
  }
}

.trainers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: grab;

  @include vp-767 {
    max-width: 100%;
    margin: 0 auto;
  }
}

.trainers__nav-btn {
  position: absolute;
  top: 326px;
  border: none;
  background: url("../img/sprite/slider-arrow.svg") center no-repeat;
  z-index: 10;
  cursor: pointer;

  &--prev {
    left: 41px;
  }

  &--next {
    right: 41px;
    transform: scale(-1, 1);
  }

  @include vp-1199 {
    top: 288px;

    &--prev {
      left: 18px;
    }

    &--next {
      right: 18px;
    }
  }

  @include vp-767 {
    width: 40px;
    top: 53.5%;

    &--prev {
      left: 0;
      transform: scale(0.6);
    }

    &--next {
      right: 0;
      transform: scale(-0.6, 0.6);
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
