.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 62.45%;
    background-color: $color-default-black;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 54, 122, 0.5);
        z-index: 2;
    }
}

.video__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    display: none;

    @include vp-1199 {
      width: 73px;
      height: 73px;
      transform: translate(-51.5%,-51.2%);
    }
}

.is-active .video__btn {
    display: block;
}
