.btn {
  @include font-settings ($ff-roboto, 700, 12px, 1.16, $color-default-white);
  background-color: $color-transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;


  &--white {
    color: $color-default-white;
    border: 4px solid $color-default-white;
  }

  &--blue {
    color: $color-sapphire;
    border: 2px solid $color-sapphire;
  }
}
